body {
	background-color: #731;
	color: #ccc;
	font-family: Calibri;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.title {
	display: flex;
	font-size: 2rem;
	justify-content: space-between;
	margin: 2rem;
}

.title .right {
	font-size: 1.5rem;
	transition: transform .2s;
}

.title .right .icon {
	font-size: 1.2rem;
}

.title .right:hover {
	transform: scale(1.1);
}

.card-container {
	display: flex;
	list-style-type: none;
	padding: 0 1rem;
}

.card {
	background-color: rgba(0, 0, 0, 0.25);
	border: 0.1rem solid #ccc;
	border-radius: 1rem;
	display: flex;
	font-size: 1.2rem;
	margin: 0.5rem;
	padding: 1rem;
	padding-bottom: 0.5rem;
	transform: rotate(-2deg);
	transition: transform .2s;
}

.card:hover {
	transform: rotate(-2deg) scale(1.05);
}

.card a {
	flex: 1;
}

.card-title {
	font-size: 2rem;
}

@media (max-width: 1000px) {
  .card-container {
    flex-direction: column;
  }
}