body {
	background-color: #731;
	color: #ccc;
	font-family: Calibri;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.title {
	display: flex;
	font-size: 2rem;
	justify-content: space-between;
	margin: 2rem;
}

.title .right {
	font: inherit;
	font-size: 1rem;
	transition: transform .2s;
	background-color: transparent;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.title .right .icon {
	
}

.title .right:hover {
	transform: scale(1.1);
}

#name {
	
}

.card-container {
	display: flex;
	list-style-type: none;
	padding: 0 1rem;
}

.card {
	background-color: rgba(0, 0, 0, 0.25);
	border: 0.1rem solid #ccc;
	border-radius: 1rem;
	display: flex;
	font-size: 1.2rem;
	margin: 0.5rem;
	padding: 1rem;
	padding-bottom: 0.5rem;
	transform: rotate(-2deg);
	transition: transform .2s;
	color: white;
	text-shadow: -0.1rem -0.1rem 0 #731, 0.1rem -0.1rem 0 #731,
				 -0.1rem 0.1rem 0 #731, 0.1rem 0.1rem 0 #731;
}

.card:hover {
	transform: rotate(-2deg) scale(1.05);
}

#n-cube {
	background-image: url("assets/n-cube.svg");
	background-repeat: no-repeat;
	background-position: 95% 5%;
	background-size: 6.5rem;
}

#yaml-tkinter {
	background-image: url("assets/python.png");
	background-repeat: no-repeat;
	background-position: 95% 5%;
	background-size: 5rem;
}

#brainfuck {
	background-image: url("assets/brainfuck.png");
	background-repeat: repeat;
	background-position: center;
	/* background-size: 10rem; */
}

#cookie-garden-helper {
	background-image: url("assets/cookie.png");
	background-repeat: no-repeat;
	background-position: 95% 5%;
	background-size: 5rem;
}

.card a {
	flex: 1;
}

.card-title {
	font-size: 2rem;
}

@media (max-width: 1000px) {
	.card-container {
		flex-direction: column;
	}
	
	#yaml-tkinter {
		background-position: 95% 50%;
	}
	
	#cookie-garden-helper {
		background-position: 95% 50%;
	}
}

#email-copied-info {
	display: none;
	position: absolute;
	top: 4rem;
	right: 2rem;
}

#email-copied-info.show {
	display: flex;
}